.tr-l {
  margin-top: 5px;
  margin-right: 5px;
}
.tr-l .tr-c-item {
  background: black;
  border-radius: 90px;
  min-height: 30px;
  min-width: 30px;
  margin-right: 5px;
}
.tr-l .tr-c-item > * {
  padding: 0px;
  margin: 0px;
}
.tr-l .tr-c-item--last {
  margin-right: 0px;
}
.tr-l .tr-c-item > popover {
  background: black;
}

window.NotificationPopups {
  all: unset;
}

.Notification {
  border-radius: 13px;
  background-color: green;
  margin: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 2px 3px 8px 0 alpha(black,0.4);
  border: 1pt solid alpha(white,0.03);
}
.Notification.critical {
  border: 1pt solid alpha(red,0.4);
}
.Notification.critical .header .app-name {
  color: alpha(red,0.8);
}
.Notification.critical .header .app-icon {
  color: alpha(red,0.6);
}
.Notification .header {
  padding: 0.5rem;
  color: alpha(white,0.5);
}
.Notification .header .app-icon {
  margin: 0 0.4rem;
}
.Notification .header .app-name {
  margin-right: 0.3rem;
  font-weight: bold;
}
.Notification .header .app-name:first-child {
  margin-left: 0.4rem;
}
.Notification .header .time {
  margin: 0 0.4rem;
}
.Notification .header button {
  padding: 0.2rem;
  min-width: 0;
  min-height: 0;
}
.Notification separator {
  margin: 0 0.4rem;
  background-color: alpha(white,0.1);
}
.Notification .content {
  margin: 1rem;
  margin-top: 0.5rem;
}
.Notification .content .summary {
  font-size: 1.2em;
  color: white;
}
.Notification .content .body {
  color: alpha(white,0.8);
}
.Notification .content .image {
  border: 1px solid alpha(white,0.02);
  margin-right: 0.5rem;
  border-radius: 9px;
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
}
.Notification .actions {
  margin: 1rem;
  margin-top: 0;
}
.Notification .actions button {
  margin: 0 0.3rem;
}
.Notification .actions button:first-child {
  margin-left: 0;
}
.Notification .actions button:last-child {
  margin-right: 0;
}

window#launcher {
  background: transparent;
  color: green;
}
window#launcher box#launcher-content {
  background: red;
  min-width: 400px;
  border-radius: 12px;
  padding: 6px;
}

window.Bar {
  all: unset;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  margin: 0px;
}

btn-right {
  background: black;
  border-radius: 90px;
  padding: 0px;
  min-width: 30px;
  min-height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
}

btn-left {
  background: black;
  border-radius: 90px;
  padding: 0px;
  min-width: 30px;
  min-height: 30px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

box-left {
  min-width: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -20px 0 0 black;
}

box-right {
  min-width: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 -20px 0 0 black;
}

module {
  margin-top: 0px;
  padding-top: 0px;
  background: transparent;
}

time-lable {
  min-height: 40px;
  background: black;
  border-radius: 0px 0px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/*# sourceMappingURL=result.css.map */
