.tr-l {
  margin-top: 5px;
  margin-right: 5px;

  .tr-c-item {
    background: black;
    border-radius: 90px;
    min-height: 30px;
    min-width: 30px;
    margin-right: 5px;

    >* {
      padding: 0px;
      margin: 0px;
    }

    &--last {
      margin-right: 0px;
    }

    >popover {
      background: black;
    }
  }

}
